/Guia8_Persona/nbproject/private/
/Guia8_Mascota/nbproject/private/
/Guia8_Mascota/build/
/Guia8_Persona/build/
/Guia8_Ejer1_Libro/nbproject/private/
/Guia8_Ejer1_Libro/build/
/Guia8_Ejer2_Circunferencia/nbproject/private/
/Guia8_Ejer2_Circunferencia/build/
/Guia8_Ejer3_Operaciones/nbproject/private/
/Guia8_Ejer3_Operaciones/build/
/Guia8_Ejer4_Rectangulo/nbproject/private/
/Guia8_Ejer4_Rectangulo/build/
/Guia8_Ejer4_Cuenta/nbproject/private/
/Guia8_Ejer4_Cuenta/build/
/Guia8_Ejer6_Nespresso/nbproject/private/
/Guia8_Ejer6_Nespresso/build/