/Guia8_Persona/nbproject/private/
/Guia8_Mascota/nbproject/private/
/Guia8_Mascota/build/
/Guia8_Persona/build/
/Guia8_Ejer1_Libro/nbproject/private/
/Guia8_Ejer1_Libro/build/
/Guia8_Ejer2_Circunferencia/nbproject/private/
/Guia8_Ejer2_Circunferencia/build/
/Guia8_Ejer3_Operaciones/nbproject/private/
/Guia8_Ejer3_Operaciones/build/
/Guia8_Ejer4_Rectangulo/nbproject/private/
/Guia8_Ejer4_Rectangulo/build/
/Guia8_Ejer4_Cuenta/nbproject/private/
/Guia8_Ejer4_Cuenta/build/
/Guia8_Ejer6_Nespresso/nbproject/private/
/Guia8_Ejer6_Nespresso/build/
/Guia8_Ejer7_IMC/nbproject/private/
/Guia8_Ejer7_IMC/build/
/Guia8_Ejer9_Cadenas/nbproject/private/
/Guia8_Ejer9_Cadenas/build/
/Guia8_Ejer8_Cadenas/nbproject/private/
/Guia8_Ejer8_Cadenas/build/
/Guia8_Ejer9_Matematica/nbproject/private/
/Guia8_Ejer9_Matematica/build/
/Guia8_Ejer10_Arrays/nbproject/private/
/Guia8_Ejer10_Arrays/build/
/Guia8_Ejer11_Date/nbproject/private/
/Guia8_Ejer11_Date/build/
/Guia8_Ejer12_Persona/nbproject/private/
/Guia8_Ejer12_Persona/build/
/Guia8_Ejer13_Curso/nbproject/private/
/Guia8_Ejer13_Curso/build/
/Guia8_Ejer14_Tienda/nbproject/private/
/Guia8_Ejer14_Tienda/build/
/Guia8_EjerEx1_Cancion/nbproject/private/
/Guia8_EjerEx1_Cancion/build/
/Guia8_EjerEx2_Puntos/nbproject/private/
/Guia8_EjerEx2_Puntos/build/
/Guia8_EjerEx3_Ecuacion/nbproject/private/
/Guia8_EjerEx3_Ecuacion/build/
/Guia8_EjerEx4_DigitoVerificador/nbproject/private/
/Guia8_EjerEx4_DigitoVerificador/build/
/Guia8-EjerEx5_MesSecreto/nbproject/private/
/Guia8-EjerEx5_MesSecreto/build/
/Ejer_Ex6_Ahorcado/nbproject/private/
/Guia8_EjerEx6_Ahorcado/nbproject/private/
/Guia8_EjerEx6_Ahorcado/build/
/Guia8_Extras1_Fracciones/nbproject/private/
/Guia8_Extras1_Fracciones/build/
/Guia8_Extras2_Tiempo/nbproject/private/
/Guia8_Extrass2_Tiempo/nbproject/private/
/Guia8_Extrass2_Tiempo/build/
/Guia8_Extras3_Password/nbproject/private/
/Entidad/nbproject/private/
/Guia8_Extras3_Password/build/
/Guia8_Extras4_FechaAnterior/nbproject/private/
/Guia8_Extras4_FechaAnterior/build/
/Guia8_Extras5_Isosceles/nbproject/private/
/Guia8_Extras5_Isosceles/build/
/Guia8_Extrass_6_SopadeLetras/nbproject/private/
/Colecciones/nbproject/private/
/Colecciones/build/
/Guia9_Ejer1-2_razaPerros/nbproject/private/
/Guia9_Ejer1-2_razaPerros/build/
/Guia9_Ejer3_Alumnos/nbproject/private/
/Guia9_Ejer3_Alumno/nbproject/private/
/Guia9_Ejer3_Alumno/build/
/Guia9_Ejer4_Cine/nbproject/private/
/Guia9_Ejer4_Cine/build/
/Guia9_Ejer5_Paises/nbproject/private/
/Relaciones/nbproject/private/
/Guia9_Ejer5_Paises/build/
/Guia9_Ejer6_Tienda/nbproject/private/
/Guia9_Ejer6_Tienda/build/
/Guia10_Ejer1_AdoptaPerro/nbproject/private/
/Guia10_Ejer1_AdoptaPerro/build/
/Guia10_Ejer2_RuletaRusa/nbproject/private/
/Guia10_Ejer2_RuletaRusa/build/
/Guia10_Ejer3_Cartas/nbproject/private/
/Guia10_Ejer3_Cartas/build/
/Guia10_EjerEx1_Adopcion/nbproject/private/
/Guia11_Ejer1_Animal/nbproject/private/
/Guia11_Ejer1_Animal/build/
/Guia11_Ejer2_Electrodomestico/nbproject/private/
/Guia11_Ejer2_Electrodomestico/build/
/Guia11_Ejer4_Area_Perimetro/nbproject/private/